@font-face {
    font-family: lucida-grande;
    src: url(LucidaGrande.woff);
}

@font-face {
    font-family: courier, monospace;
    src: url(CourierNewBold.woff);
}

@font-face {
    font-family: verdana;
    src: url(Verdana.woff);
}

p {
    font-size: 15px;
    font-family: lucida-grande;
    line-height: 1.5;
}

#intro {
    text-align: center;
}

#closing {
    text-align: center;
}

.tt p {
    font-size: 14px;
    font-weight: bold;
    font-family: courier, monospace;
    color: #f2a400;
    margin: 0;
    line-height: 1.5;
}

.arrow {
    font-family: verdana;
    color: blue;
    font-size: 20px;
}

#send {
    font-family: verdana;
    color: blue;
    font-size: 20px;
    text-decoration: underline;
}

.hide {
    display: none;
}

.show {
    display: contents;
}

.closing {
    display: block;
    text-align: center;
}

@media screen and (max-width: 600px) {
    p {
        font-size: 13px;
    }
}
    